<robot name="product_box">
  <link name="box_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.1"/>
      </geometry>
      <material name="Red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.2 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>

     
  <!-- QR Code on Top -->
  <visual name="qr_code_top">
    <origin xyz="0 0 0.051" rpy="0 0 0"/>
    <geometry>
      <box size="0.16 0.16 0.005"/>
    </geometry>
    <material name="qr_code">
      <texture filename="package://robot_bringup/materials/textures/kinsta.png"/>
    </material>
  </visual>

  </link>

  
  <gazebo reference="box_link">
    <material>Gazebo/Red</material>
    <mu1>100.0</mu1> 
    <mu2>100.0</mu2>
    <selfCollide>false</selfCollide> 
  </gazebo>

  
</robot>
